<!DOCTYPE html>
<html>
  <head>
    <title>Cafehome</title>
    <meta charset="utf-8">
  </head>

  <body>
<header>
  <img class="header_img" alt="fv" src="img/1_画像/fv2.jpg"/>
  <img class="header-logo" alt="logo" src="img/2_イラスト/logo.svg" />
  <a href="#"><img class="header-icon1" alt="logo" src="img/2_イラスト/ハンバーガー_negate.png" width="50px"/></a>
  <a href="#"><img class="header-icon2" alt="logo" src="img/2_イラスト/tweeter_negate.png"  width="50px"/></a>
  <a href="#"><img class="header-icon3" alt="logo" src="img/2_イラスト/instagram_negate.png" width="50px" /></a>
  <p class="header-text">あなたの一日に小さな喜びを</p>
</header>


<div class="concept">
  <img class="concept-img" alt="img" src="img/1_画像/concept.jpg"  height="300px" width="600px"/>
  <div class="concept-content">
    <div class="title">
    <p id ="concept">Concept</p>
    <h1>コンセプト</h1>
    </div>
    <div class="text">
    <p>NITCHIDE CAFE は博多駅から徒歩10分のところにあるカフェです。木を基調にした開放的な店内でゆったりとお過ごしいただけます。スタンダードなコーヒーから、こだわりのオリジナルコーヒーをお楽しみください。また氷の量や甘さなどを細かくお客様のお好みの味に変えることができます。</p>
    </div>
  </div>
  </div>
  
  <div class="contents">
    <div class="content">
      <div class="title">
      <p id="menu">Menu</p>
      <h1>当時のメニュー</h1>
      </div>
      <div class="text">
      <p>バリスタが丁寧に抽出したエスプレッソドリンクや、オリジナルコーヒーをご提供しています。一年を通して様々なフレーバーが楽しめます。</p>
      </div>
    </div>
    <div class="menus">
    <div class="menu">
    <img class="menu-img" alt="img" src="img/1_画像/menu1.jpg"  height="300px" width="300px"/>
    <div class="menu-title">
    <h1>Blended Coffee</h1>
    <p>ブレンドコーヒー</p>
    </div>
    <div class="price">
    <p>small　　　　400yen</p>
    <p>medium　　　　580yen</p>
    <p>large 　　　　630yen</p>
    </div>
    </div>
    <div class="menu">
    <img class="menu-img" alt="img" src="img/1_画像/menu2.jpg"  height="300px" width="300px"/>
    <div class="menu-title">
    <h1>Cappuccino</h1>
    <p>カプチーノ</p>
    </div>
    <div class="price">
    <p>small　　　　400yen</p>
    <p>medium　　　　580yen</p>
    <p>large 　　　　630yen</p>
    </div>
    </div>
    <div class="menu">
    <img class="menu-img" alt="img" src="img/1_画像/menu3.jpg"  height="300px" width="300px"/>
    <div class="menu-title">
    <h1>Cafe Latte</h1>
    <p>カフェラテ</p>
    </div>
    <div class="price">
    <p>small　　　　400yen</p>
    <p>medium　　　　580yen</p>
    <p>large 　　　　630yen</p>
    </div>
    </div>
    <div class="menu">
    <img class="menu-img" alt="img" src="img/1_画像/menu4.jpg"  height="300px" width="300px"/>
    <div class="menu-title">
    <h1>Frappuccino</h1>
    <p>フラペチーノ</p>
    </div>
    <div class="price">
    <p>small　　　　400yen</p>
    <p>medium　　　　580yen</p>
    <p>large 　　　　630yen</p>
    </div>
    </div>
    </div>
  </div>
  
  <div class="contents">
    <div class="customize">
      <p>Customize</p>
    </div>
    <div class="customize-contents">
    <div class="customize-menu">
    <p>甘さ</p>
    <img class="customize-content" alt="img" src="img/2_イラスト/sweetness.svg" />
    </div>
    <div class="customize-menu">
    <p>氷</p>
    <img class="customize-content" alt="img" src="img/2_イラスト/ice.svg"/>
    </div>
    <div class="customize-menu">
    <p>トッピング</p>
    <ul class="topping-content">
    <li>・ホイップクリーム</li>
    <li>・アイスクリーム</li>
    <li>・マシュマロ</li>
    </ul>
    </div>
    </div>
  </div>
  
  
  <div class="acces title">
    <p id="access">Access</p>
    <h1>店舗へのアクセス</h1>
  </div>
  <div class="acces-map">
   <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3323.804955120112!2d130.41772531520905!3d33.58441308073581!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x354191ba18b7820d%3A0x28fa21165e2100a5!2z44CSODEyLTAwMTEg56aP5bKh55yM56aP5bKh5biC5Y2a5aSa5Yy65Y2a5aSa6aeF5YmN77yU5LiB55uu77yR77yY4oiS77yW!5e0!3m2!1sja!2sjp!4v1622867034141!5m2!1sja!2sjp" width=80% height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
   <div class="bord">
    <h3>住所</h3>
    <p>〒812-0011</p>
    <p>福岡県福岡市博多区博多駅前４丁目１８−６</p>
    <h3>営業時間</h3>
    <p>平日　8:00 - 19:00</p>
    <p>土日　10:00 - 18:00</p>
   </div>
   </div>
  
   <div class="contents">
      <div class="news">
        <p id ="news">News</p>
        <h1>お知らせ</h1>
      </div>
      <div class="news-block">
      <div class="news-content">
        <img class="customize-content" alt="img" src="img/1_画像/news1.jpg" width="150" height="150"/>
        <div class="text">
        <div class="date">2020.06.01</div>
        <div class="subnews">メディア・出演</div>
        <div class="content-text">雑誌「カフェスタイル」に掲載されました。</div>
        <div class="show"><a href="#">詳細をみる</a></div>
      </div>
      </div>
      </div>
      <div class="news-block">
      <div class="news-content">
        <img class="customize-content" alt="img" src="img/1_画像/news2.jpg" width="150" height="150"/>
        <div class="text">
        <div class="date">2020.07.02</div>
        <div class="subnews">商品情報</div>
        <div class="content-text">新商品「フラペチーノ」のご紹介</div>
        <div class="show"><a href="#">詳細をみる</a></div>
      </div>
      </div>
      </div>
      <div class="news-block">
      <div class="news-content">
        <img class="customize-content" alt="img" src="img/1_画像/news3.jpg" width="150" height="150"/>
        <div class="text">
        <div class="date">2020.07.14</div>
        <div class="subnews">休業</div>
        <div class="content-text">自粛休業のお知らせ</div>
        <div class="show"><a href="#">詳細をみる</a></div>
      </div>
      </div>
      </div>
    </div>
  </div>
  
  
  <footer>
  <div class="footer-tag">
  <img class="footer-logo" alt="logo" src="img/2_イラスト/logo.svg"/>
  <a href="#concept">Consept</a>|
  <a href="#menu">Menu</a>|
  <a href="#access">Access</a>|
  <a href="#news">News</a>
  <p>©︎ 2020 Nichide Cafe</p>
  </div>
  </footer>
  
  

  </body>
</html>