// Place all the styles related to the tops controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.header_img {
  height: 100%;
  width: 100%;
  position: relative;
  z-index: 1;
}
.header-logo {
  width: 20%;
  position: absolute;
  top: 300px;
  left: 560px;
  z-index: 2;
}
.header-icon1{
  position: absolute;
  top: 30px;
  left: 30px;
  z-index: 2;
}
.header-icon2{
  position: absolute;
  top: 30px;
  right: 90px;
  z-index: 2;
}
.header-icon3{
  position: absolute;
  top: 30px;
  right: 30px;
  z-index: 2;
}

.header-text{
  color: white;
  position: absolute;
  top: 532px;
  left: 574px;
  z-index: 2;
  font-size: 20px;
  font-family: serif;
}
.concept-content {
  padding-right:20%;
  padding-left:100px;
  padding-top: 80px;
  width: 400px;
}
.contents {
  margin-top: 100px;
  padding: 0 300px;
}
.content {
  width: 400px;
}


.concept {
  margin-top: 100px;
  display: flex;
}
.title p {
  font-family: serif;
  margin-top: 10px;
}
.text p {
  font-family: serif;
  font-size: 10px;
  line-height: 4ex;
}
.title h1 {
  font-size: 25px;
  font-family: serif;
  font-weight: lighter;
  margin: 10px 0 30px 0;
}

img {
  border-radius: 5px;
}

.title {
  display: inline-block;
}

.menu-title h1{
  font-family: serif;
  font-weight: lighter;
  letter-spacing: 2px;
}
 
.menu-img{
  margin-bottom: 10px;
}
.menu p{
  font-family: serif;
  font-size: 5px;
  margin: 10px 0;
}

.price p{
  text-align: right;
}

.menu {
  margin: 50px;
  float: left;
}

.customize p{
  border-bottom: dotted 2px gray;
  line-height: 40px;
  display: block;
  font-family: serif;
}


.customize-menu{
  width: 250px;
  float: left;
  padding: 10px;
}
.customize-menu p{
  border-bottom: dotted 2px gray;
  line-height: 40px;
}

.customize-content{
  margin: 10px;
}
.topping-content{
  margin-top: 10px;
  font-size: 10px;
  line-height: 20px;
  font-family: serif;
  list-style: none;
}

.acces{
  margin-top: 300px;
  text-align: center;
  display: block;
}

.bord{
padding: 80px;
background-color: rgb(66, 64, 64);
color: white;
line-height: 40px;
}

.acces-map{
  display: flex;
  margin-top: 100px;
}

.news-content{
  border-bottom: dotted 2px gray;
  display: flex;  
  padding: 50px 0;
}
.news-block{
  display: block;
}
.subnews {
  background-color: orange;
  color: white;
  display: inline-block;
  padding: 5px 20px;
}
.date {
  display: inline-block;
  margin-right: 30px;
}

.content-text{
  margin-top: 10px;
}

.show {
  padding-top: 20px;
}
a {
  color: gray;
  text-decoration: none;
}

.news {
  border-bottom: dotted 2px gray;
  display: block;
  font-family: serif;
}
.news h1{
  font-family: serif;
  font-size: 25px;
  font-family: serif;
  margin: 10px 0 30px 0;
}

.footer-tag {
  color: white;
  margin-top: 100px;
  padding: 50px 0;
  height: 300px;
  background-color: rgb(66, 64, 64);
  text-align: center;
}
.footer-tag a{
  color: white;
  margin: 10px 20px;
  text-decoration: none;
}
.footer-tag p{
  margin-top: 50px;
}

.footer-logo {
  width: 200px;
  margin: 50px auto;
  display: block;
  text-align: center;
}